.title {
	font-size: 32px;
	color: rgb(65, 83, 99);
	margin-bottom: 20px;
}

.wrapper {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;

	& a {
		width: calc((100% - 100px) / 5);
		overflow: hidden;

		margin-bottom: 12px;

		filter: grayscale(0.25);

		transition: filter 200ms ease;
		transition: transform 200ms ease;
	}

	& a:hover {
		filter: grayscale(0);
		transform: scale(1.04);
	}
}
